<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.charles.practise.mapper.CommunityInformationMapper">
    <select id="getCommunityInf" resultType="java.util.HashMap">
        select *
        from (select "NAVICAT_TABLE".*, ROWNUM "NAVICAT_ROWNUM"
        from(select
        t.小区经理名称,
        t.街道名称,
        t.MINX,
        t.MINY,
        t.小区地址,
        t.所属区县,
        t.小区名称,
        t.小区类型,
        t.OBJECTID,
        t.总门牌数
         from GIS_COMMUNITY t
        where 1=1
        <if test="areaName!=null and areaName!=''">
            and t.区县=#{areaName}
        </if>)"NAVICAT_TABLE"
        WHERE ROWNUM &lt;= #{endItem})
        WHERE "NAVICAT_ROWNUM" &gt;= #{startItem}
    </select>

    <select id="getCommunityNum" resultType="Integer">
        select count(*) from GIS_COMMUNITY
        where 1=1
        <if test="areaName!=null and areaName!=''">
            and 区县=#{areaName}
        </if>
    </select>

    <select id="getUserList" resultType="java.util.HashMap">
        select t.* from gis_jishui t
        where 1=1
        <if test="areaName!=null and areaName!=''">
            and t.QUYU=#{areaName}
        </if>
    </select>
</mapper>